@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Montserrat&display=swap');

body {
  background-color: #3F3351;
  font-family: 'Montserrat', sans-serif;
}

.container {
  width: 1440px;
  max-width: 100%;
  margin: 0 auto;
}